body {background-color:E1F8F5;}
h1 {
    color: crimson; text-align: center; font-size: 50px;
}
h2 {
    color:springgreen; font-size:xx-large;
}
p {
    font-size: 25px; font-style: verdana;
}